body {
    font-family: sans-serif;
    margin: 0px;
}
.firstpageParent {
    background-image: url("green-vegetables-on-brown-wooden-chopping-board-3952047.jpg");
    background-color: #000000;
    display: flex;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}
.navcontainer {
    margin-top: 50px;
    width: 100%;
    justify-content: center;
    display: flex;
    word-spacing: 20px;
}
.toptitlebar {
    font-size: 20px;
    border-bottom: 3px solid;
    border-color: white;
    display: flex;
    width: 90%;
    justify-content: space-between;
}
#ttb1 {
    display: flex;
    color: white;
    text-decoration: none;
    font-weight: bold;
    justify-content: flex-start;
}
.ttb2parent {
    display: flex;
    justify-content: flex-end;
}
.ttb2 {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
#centertitle {
    font-size: 100px;
    font-weight: bold;
    color: white;
    text-align: center;
    border-bottom: 3px solid;
    margin: 0 650px 0 650px;
    padding-bottom: 25px;
    padding-top: 250px;
}
#centersubtitle {
    color: white;
    font-size: 70px;
    font-weight: 100px;
    text-align: center;
    padding-top: 25px;
}
.parentpg2 {
    display: flex;
    max-height: 600px;
    background-color: black;
    margin: 0 -10px -10px -10px;
}
.pg2photo {
    display: flex;
    background: url("human-holding-a-bread-745988.jpg") no-repeat;
    background-color: #000000;
    background-size: 800px 600px;
    background-repeat: no-repeat;
    width: 900px;
    height: 600px;
    justify-content: flex-start;
    flex-direction: column;    
}
.pg2 {
    display: inline-block;
    color: white;
    justify-content: flex-start;
    margin-right: 75px;
}
.page2txt {
    color: #FFFFFF;
    margin-top: 150px;
    font-size: 55px;
    display: flex;
}
.page2txt2 {
    color: #FFFFFF;
    font-size: 29px;
    display: flex;
    flex-wrap: wrap;
    font-weight: lighter;
    width: 800px;
}
.parentpg3 {
    display: flex;
    max-height: 600px;
    background-color: #111111;
    margin: 10px -10px -10px -10px;
    flex-direction: row-reverse;
}
.pg3photo {
    display: flex;
    background: url("green-pineapple-fruit-with-brown-framed-sunglasses-beside-1161547.jpg") no-repeat;
    background-color: #111111;
    background-size: 800px 600px;
    background-repeat: no-repeat;
    width: 800px;
    height: 600px;
    justify-content: flex-end;
    flex-direction: column;    
}
.pg3 {
    display: inline-block;
    color: white;
    justify-content: flex-start;
    margin-right: 75px;
}
.page3txt {
    color: #FFFFFF;
    margin-top: 150px;
    font-size: 55px;
    display: flex;
}
.page3txt3 {
    color: #FFFFFF;
    font-size: 29px;
    display: flex;
    flex-wrap: wrap;
    font-weight: lighter;
    width: 800px;
}
.parentpg4 {
    display: flex;
    max-height: 600px;
    background-color: #222222;
    margin: 10px -10px -10px -10px;
}
.pg4photo {
    display: flex;
    background: url("cooked-pasta-on-brown-wooden-bowl-803963.jpg") no-repeat;
    background-color: #222222;
    background-size: 800px 600px;
    background-repeat: no-repeat;
    width: 900px;
    height: 600px;
    justify-content: flex-end;
    flex-direction: column;    
}
.pg4 {
    display: inline-block;
    color: white;
    justify-content: flex-start;
    margin-right: 75px;
}
.page4txt {
    color: #FFFFFF;
    margin-top: 150px;
    font-size: 55px;
    display: flex;
}
.page4txt4 {
    color: #FFFFFF;
    font-size: 29px;
    display: flex;
    flex-wrap: wrap;
    font-weight: lighter;
    width: 800px;
}